body {
  text-align: center;
  font-family:  Verdana;
}
#root {
  max-width: 80%;
  margin: 0 auto;
  width: 250px;
}
input {
  margin: 0px 5px;
}
h1 {
  font-size: 1.25em;
}
h1, h2, h3, p, ul, div#root > div {
  text-align: left;
}
p, ul {
  margin: 0px 0px;
}
ul {
  padding-left: 5px;
}
li {
  list-style-type: none;
}
.strong {
  font-weight: bold;
}