* {
  box-sizing: border-box
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Verdana', sans-serif;
  line-height: 1.6;
  color: #666;
  background: #F6F6F6;
}

#root {
  max-width: 500px;
  margin: 0 auto;
}
.container {
  background-color: #ecd044;
}
h1.title-text {
  background-image: linear-gradient(120deg, #ecd044 0%, #e6e0d8 100%);
  /* margin: 0 0 2rem 0; */
  /* padding: 1.5rem 2.5rem; */
  font-size: 1.3rem;
  color: white;
  width: 75%;
}
img.logo {
  display: block;
  margin: 1rem auto;
  width:  500px;
  height:  250px;
}

p {
  padding: 0 2.5rem 2.5rem;
  margin: 0;
}
.icon {
  height: 75px;
  width: 75px;
}
.icon, .title-text {
  display: inline-block;
}
.icon, .title-text {
  margin: 10px;
  vertical-align: top;
}
.span-text{
  display: block;
}
marquee {
  margin: 0 auto;
}